altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
fonttools
gitdb
GitPython
idna
importlib-metadata
importlib-resources
Jinja2
jsonschema
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
packaging
pandas
Pillow
plotly
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
rich
six
smmap
streamlit
streamlit-autorefresh
streamlit-url-fragment
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
